@model OOAD_Proj.Models.Teacher

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.T_pass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_pass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department.D_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.D_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.T_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
