@model IEnumerable<OOAD_Proj.Models.TransDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.trans_details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trans_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student1.S_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.trans_details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trans_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student1.S_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.trans_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.trans_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.trans_id })
        </td>
    </tr>
}

</table>
