@model IEnumerable<OOAD_Proj.Models.TransDetail>

@{
    ViewBag.Title = "StudentView";
}

<h2>Trasactions Details</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.trans_details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trans_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student1.S_id)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        if (Session["Username"] == Html.DisplayFor(modelItem => item.Student1.S_id))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.trans_details)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.trans_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student1.S_id)
                </td>
            </tr>
        }
    }

</table>
