@model OOAD_Proj.Models.AssingedCourse

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AssingedCourse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Acourse_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acourse_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course1.course_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course1.course_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student1.S_pass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student1.S_pass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teacher1.T_pass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teacher1.T_pass)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
