@model IEnumerable<OOAD_Proj.Models.AssingedCourse>

@{
    ViewBag.Title = "StudentView";
}

<h2>Assigned Courses</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Acourse_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course1.course_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student1.S_id)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        if (Session["Username"] == Html.DisplayFor(modelItem => item.Student1.S_id))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Acourse_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course1.course_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student1.S_id)
                </td>
            </tr>
        }
    }

</table>
