@model IEnumerable<OOAD_Proj.Models.Event>

@{
    ViewBag.Title = "StudentView";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.e_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.e_desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semester.Semester_name)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.e_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.e_desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester.Semester_name)
            </td>
        </tr>
    }

</table>
